.header {
  position: -webkit-sticky;
  position: sticky;
  color: white;
  background-color: #c62641;
  top: -1px;
  z-index: 2000;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addPoem {
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s linear;
  padding: 1rem 1.5rem;
  font-size: 19px;
}
.addPoem:hover {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
.addPoem a {
  text-decoration: none;
  color: white;
}
.addPoem a:hover {
  color: white;
}
.logo {
  text-decoration: none;
  font-size: 35px;
  color: white;
}
.logo:hover {
  color: white;
}
.rightSide {
  display: flex;
  align-items: center;
}
.signInLink {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 0.7rem 1.5rem;
  transition: all 0.2s linear;
}
.signInLink:hover {
  color: white;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
