* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Josefin Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: relative;
  background-color: #f8f8f8;
}

main {
  background-color: #f8f8f8;
  min-height: 85vh;
}
footer {
  min-height: 15vh;
}
.padUp {
  padding: 25px;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  text-align: center !important;
}

.CodeMirror {
  height: 100vh !important;
}
.dropdown-toggle {
  color: white !important;
}
.dropdown-item {
  color: black !important;
}
